*{
	margin: 0px;
	padding: 0px;
}

body{
	background: url(metailler.jpg);
	background-size: cover;
	color: white;
}

h3{
	padding: 50px;
	text-decoration: underline;
}

p{
	font-size: 25px;
}

#search{
	width: 400px;
	color: white;
	margin-left: 100px;
	font-size: 20px;
}

table{
	margin-left: 100px;
}

a{
	color: white !important;
}
